a {
    text-decoration: none !important;
}

.sidebar-button-body {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    color: rgb(241, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.sidebar-button-body:hover {
    color: rgb(29, 200, 29);
}

.sidebar-button-body.active {
    background-color: rgb(224 215 209 / 40%);
    color: rgb(29, 200, 29);
    transform: scale(1.05);

}

.sidebar-button-title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}