.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    color: whitesmoke;
    background-color: rgb(18, 24, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
        text-align: center;
        /* Center text horizontally */
    }
