.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    color: whitesmoke;
    background-color: rgb(18, 24, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
        text-align: center;
        /* Center text horizontally */
    }
    
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #2f2a2a78 /* Color of the thumb */
    /* border-radius: 6px; Radius of the thumb */
}


