.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: rgb(54, 57, 83);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
        text-align: center;
        /* Center text horizontally */
    }
