/* Container for the entire library */
.library-container {
    display: flex;
    padding: 3%;
    height: auto; /* Adjust as needed */
    width: 94%;
    overflow-y: auto;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

/* Individual playlist card */
.playlist-card {
    display: grid;
    color: white;
    width: 15%;
    min-height: 250px;
    /* max-height: 250px; Adjust max-height as needed */
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.68) 0%, rgba(9, 9, 61, 0.18) 15%, rgba(40, 86, 105, 0.167) 100%);
    /* border: 1px solid white; */
    padding: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Hover effect on playlist card */
/* .playlist-card:hover {
    transform: scale(1.03);
} */

/* Additional styling on hover */
.playlist-card:hover .playlist-fade {
    display: flex;
}

.playlist-card:hover .playlist-text-container {
    justify-content: space-between;
}

/* Playlist image styling */
.playlist-image {
    width: 100%;
    aspect-ratio: 1; /* Adjust aspect ratio as needed */
    border-radius: 15px;
}

/* Container for playlist text information */
.playlist-text-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 50px;
    justify-content: center;
    transition: all .2s ease;
}

/* Playlist title styling */
.playlist-title {
    font-weight: 600;
    font-size: 16px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Playlist subtitle styling */
.playlist-sub-title {
    font-weight: 400;
    font-size: 14px;
    color: #779bbb;
}

/* Fade effect for playlist card */
.playlist-fade {
    grid-area: fade;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.418) 10%, rgba(221, 33, 33, 0.548) 96%);
    display: none;
    border-radius: 50px;
    transition: 0.5s ease;
    transition: all 0.2s ease;
    justify-content: flex-end;
}

/* Animation to move from right to left */
@keyframes moveLeftToRight {
    0% {
        transform: translateX(100%);
        /* Start from right */
    }

    100% {
        transform: translateX(-100%);
        /* Move to left */
    }
}

@media (max-width: 1000px) {
    .library-container {
        justify-content: start;
        display: flex;
    }

    .playlist-card {
        width: 45%;
        max-width: 50%;
        max-height: none; /* Remove max-height for smaller screens */
    }

    /* Adjust image aspect ratio for smaller screens */
    .playlist-image {
        aspect-ratio: 60%; /* Adjust aspect ratio as needed */
    }
}

/* Media query for lower resolutions */
@media (max-width: 550px) {
    .library-container {
        justify-content: start;
    }

    .playlist-card {
        width: 100%;
        max-width: 100%;
        max-height: none; /* Remove max-height for smaller screens */
    }

    /* Adjust image aspect ratio for smaller screens */
    .playlist-image {
        aspect-ratio: 60%; /* Adjust aspect ratio as needed */
    }
}
